  <div class="logoMetamaskSvg">
    <img src="https://raw.githubusercontent.com/MetaMask/brand-resources/master/SVG/metamask-fox-wordmark-horizontal.svg" width="180"/>
  </div>

  <div *ngIf="!isMetamaskInstalled">
    <a class="" font-size="14px" href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn">
      <span>Download MetaMask Chrome extension</span>
    </a>
  </div>  

  <div *ngIf="isMetamaskInstalled && !isAuthenticatedWithMetaMask">
    <span>Network version: {{ this.metaMaskService.getNetworkVersion() }}</span>
    <form (ngSubmit)="onLogin()">
      <button class="button" type="submit">Login with MetaMask</button>
    </form>
  </div>

  <div *ngIf="isAuthenticatedWithMetaMask">

    <span>MetaMask address: </span>{{ this.metaMaskService.getMetaMaskAddress() }}

    <app-logout-metamask></app-logout-metamask>

    <app-send-transaction-metamask></app-send-transaction-metamask>
    <app-check-transaction-metamask></app-check-transaction-metamask>


  </div>
  
  <div>
    <span style="color:red;">{{ errorMessage }}</span>
  </div>
