<!--The content below is only a placeholder and can be replaced.-->
<div>

  <div class="logoMetamaskSvg">
    <img
      src="https://raw.githubusercontent.com/MetaMask/brand-resources/master/SVG/metamask-fox-wordmark-horizontal.svg"
      width="180" />
  </div>

  <div *ngIf="!this.metaMaskService.isMetaMask; else metamask">
    <a class="" font-size="14px"
      href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn">
      <span>Download MetaMask Chrome extension</span>
    </a>
  </div>

  <ng-template #metamask>
    <p>Network: <b>{{ (network$ | async)?.name }}</b><em>(id={{ (network$ | async)?.chainId }})</em></p>
    <app-connect-metamask></app-connect-metamask>
    <app-login-metamask></app-login-metamask>
    <app-logout-metamask></app-logout-metamask>


    <div *ngIf="isAuthenticated$ | async">
      <app-send-transaction-metamask></app-send-transaction-metamask>
      <app-check-transaction-metamask></app-check-transaction-metamask>
    </div>
  </ng-template>


</div>